@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css");
@import url("http://fonts.googleapis.com/css?family=Hammersmith+One");
@import url(http://fonts.googleapis.com/css?family=Lato);

.Front_Contents_Body{overflow:hidden;left:85px;right:0;top:0;bottom:0;position:absolute;}